<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/style.css" rel="stylesheet"
</head>
<body>
    <h1> About Me </h1>
<!-- This will set the first subheading -->
    <h2> Background </h2>
    <div class="first">
        <p> I was born in Washington DC and grew up in Maryland. I speak <strong>English</strong> and <strong>Chinese</strong>. I like animals. </p>
    </div>
        <p> My Favorite Animals in order are:</p>
            <ol>
                <li>Cats</li>
                <li>Dogs</li>
                <li>Goldfish</li>
             </ol>
    <h2> Education </h2>

        <p> I go to the University of Maryland. My major is <em>Supply chain Management</em> and <em>Information Systems</em>. </p>
        <p> My Favorite Courses are:</p>
            <ul>
                <li>BMGT407</li>
                <li>BMGT478</li>
                <li>AAST200</li>
             </ul>
    <!-- This is the first table -->
    <table>
        <tr>
            <th> Course </th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2024</td>
        </tr>
    </table>
    <h2> Hobbies </h2>
        <p id="special"> </> During my free time, I like to read books. I also enjoy baking with my sister. <p>

    <!-- This allows me to add links -->
    <h2> Useful Links </h2>
        <p> A Link to <a href="/hello">my webpage</a>.</p>
        <p> A Link to <a href="https://terp.umd.edu/">the school homepage</a>.</p>
        <p> A Link to <a href="https://dbknews.com/" target="_blank"> diamondback page</a>.</p>

        <p> Here is a picture of the Smith logo. </p>
    <div class="logo">
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png">
    </div>
</body>
</html>








