<h1>User Contact</h1>

{% if submitted %}
    <div class="container">
    <div class="col-12">
        <h2>Thank you for completing the form.</h2>
    </div>

    <div class="col-md-6">
        <p>First Name:</p>
    </div>
    <div class="col-md-6">
        <p>{{ request.form.get('first_name') }}</p>
    </div>

    <div class="col-md-6">
        <p>Last Name:</p>
    </div>
    <div class="col-md-6">
        <p>{{ request.form.get('last_name') }}</p>
    </div>

    <div class="col-md-6">
        <p>Email Address:</p>
    </div>
    <div class="col-md-6">
        <p>{{ request.form.get('email') }}</p>
    </div>

    <div class="col-md-6">
        <p>Age:</p>
    </div>
    <div class="col-md-6">
        <p>{{ request.form.get('age') }}</p>
    </div>

    <div class="col-md-6">
        <p><a href="/contact">Complete form again</a></p>
    </div>


